<div class="inventario-container">
  <h1>Inventario</h1>

  <div class="categorias">
    <h2>Categorías:</h2>
    <ul>
      <li
        *ngFor="let categoria of categorias"
        [class.selected]="categoria === categoriaSeleccionada"
        (click)="cambiarCategoria(categoria)"
      >
        {{ categoria }}
      </li>
    </ul>
  </div>

  <div class="productos">
    <h2>Productos:</h2>
    <button class="btn-nuevo" (click)="crearProducto()">Nuevo Producto</button> <!-- Botón para crear un nuevo producto -->
    <table>
      <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let producto of productosSeleccionados">
        <td><img [src]="producto.imagen" alt="Imagen del producto"></td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio | currency }}</td>
        <td>
          <button class="btn-editar">Editar</button>
          <button class="btn-borrar">Borrar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
